<div class="sun"></div>
<div class="skyDim"></div>
<div class="sky"></div>
<div class="center-align">
    <div class="row heading">
            <h1 class="col s12 landingHeading">Plant App</h1>
            <p class="col offset-s3 s6 offset-m3 m6 offset-l3 l6 landingPara">It's never been easier to care for your plants. This will be a description of our app
                here!
            </p>
           
        </div>
</div>
 <img src="/images/happyPlant.png" height="300px" class="landingPic">
<div class="grassDim"></div>

<div class="grassDiv">
    <div class="container center-align landingButtonDiv">
        <a href="/login" class="btn landingButton">Start Caring</a>
    </div>
</div>

<i class="material-icons cloud1 md-48">cloud</i>
<i class="material-icons cloud2 md-48">cloud</i>
<i class="material-icons cloud3 md-48">cloud</i>