
<div class="container center-align">
    
    <h1>Plant App</h1>

    <img src="/images/plants.jpg" width="300px">

    <p>It's never been easier to care for your plants. This will be a description of our app here!</p>

    <a href="/login" class="btn">Start Caring</a>

</div>

