<div class="container center-align">
    <div class="loginHead">
        <h1>Login</h1>
        <p>Please enter your information to log in.</p>
    </div>


    <div class="row">
        <form class="col s12 center-align">

            <div class="row">
                <div class="input-field col offset-s3 s6 offset-m3 m6 offset-l4 l4">
                    <input id="user" type="text" class="validate">
                    <label for="user">Username:</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col offset-s3 s6 offset-m3 m6 offset-l4 l4">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password:</label>
                </div>
            </div>

        </form>

        <a id="loginButton" href="/plantDevices" class="waves-effect waves-light btn">Login</a>
    </div>
</div>

<script>


</script>