
<div class="skyDim"></div>
<div class="sky"></div>
<div class="entireDevices">
<div class="plantsHead container center-align">
    <h1>Your Plants</h1>
    <p>Click a plant to see how it's doing or add a new plant device.</p>
</div>

<!--New buttons will be appended to this div when a user enters a new plant device-->
<div class="container">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="newPlantButtonsGoHere"></div>
        </div>
    </div>

</div>

<!-- Modal Structure -->
<div class="container center-align ">
    <div id="addDevice" class="modal">
        <div class="modal-content">
            <h4>Add a Device</h4>
            <p>Enter information below to add a new plant device.</p>
        </div>
        <div class="row">
            <form class="col s12 center-align">

                <div class="row">
                    <div class="input-field col offset-s3 s6 offset-m3 m6 offset-l4 l4">
                        <input id="plantName" type="text" class="validate">
                        <label for="plantName">Plant Name:</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col offset-s3 s6 offset-m3 m6 offset-l4 l4">
                        <input id="deviceID" type="text" class="validate">
                        <label for="deviceID">Device ID:</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat"><button class="btn"
                    id="addDeviceButton">Add</button></a>
        </div>
    </div>


    <!-- Modal Trigger -->
    <button data-target="addDevice" class="btn modal-trigger">Add a New Plant Device</button>
</div>
</div>

<div class="grassDiv">
</div>

<script>
    $('#addDevice').modal()


</script>