<div class="skyDim"></div>
<div class="sky"></div>
<i class="material-icons cloud1 md-48">cloud</i>
<i class="material-icons cloud2 md-48">cloud</i>
<i class="material-icons cloud3 md-48">cloud</i>
<div class="loginSun "></div>

<img src="/images/happyPlant.png" height="300px" class="landingPic">
<div class="entireDevices">
    <div class="plantsHead container center-align">
        <h1>Your Plants</h1>
        <p>Click a plant to see how it's doing or add a new plant device.</p>
    </div>

    <!--New buttons will be appended to this div when a user enters a new plant device-->
    <div class="container cardsDiv">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="center-align">
                {{#each user.Devices}}
                {{> user/device-block}}
                {{/each}}
                </div>
                <div id="cardsStyle" class="newPlantButtonsGoHere"></div>
            </div>
        </div>

    </div>

    <!-- Modal Structure -->
    <div class="container center-align ">
        <div id="addDevice" class="modal">
            <div class="modal-content">
                <h4>Add a Device</h4>
                <p>Enter information below to add a new plant device.</p>
            </div>
            <div class="row">

                <form id="plantInput" class="col s12 center-align">

                    <div class="row">
                        <div class="input-field col offset-s3 s6 offset-m3 m6 offset-l4 l4">
                            <input id="plantName" type="text" class="validate">
                            <label for="plantName">Plant Name:</label>
                        </div>

                    </div>
                </form>
                <a class="btn" id="pickPhoto">Next</a>
                <div class="carouselGoesHere"></div>
                <form id="deviceInput" class="col s12 center-align">
                    <div class="row">
                        <div class="input-field col offset-s3 s6 offset-m3 m6 offset-l4 l4">
                            <select id="device">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="SPDID00000000001">SPDID00000000001</option>
                            </select>
                            <label>Device ID:</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat"><button class="btn"
                        id="addDeviceButton">Add</button></a>
            </div>
        </div>


        <!-- Modal Trigger -->
        <button data-target="addDevice" class="btn deviceButton modal-trigger">Add a New Plant Device</button>
    </div>
</div>

<div id="userGrass" class="grassDiv">
</div>

<script src="/js/user.js"></script>

<!--
<script>
    $('#addDevice').modal()
    $("#deviceInput").hide()
    $("#addDeviceButton").hide()

    $(document).ready(function () {
        $('select').formSelect();
    });

    $(document).ready(function () {
        $('.carousel').carousel();
    });



    $(document).ready(function () {

        $("#pickPhoto").on("click", function () {
            var textInputText = $("#plantName").val().trim()
            $("#plantInput").hide()
            $("#pickPhoto").hide()
            buildCarousel(textInputText)

        })

        //   $('#plantName').keyup(function (event) {

        //       var key = event.key

        //       var textInputText = $(event.target).val()

        //      if (textInputText.length > 3) {
        //          $("carouselGoesHere").empty()
        //          buildCarousel(textInputText)
        //           $("carouselGoesHere").append("<h2>").text("Pick your image with a double click!")

        //      }

        //   })

        function buildCarousel(textInputText) {
            $(".carouselGoesHere").append("Pick your photo with a double click!")
            // make a call using ajax to backend picture api thing I made
            $.get("/api/images/" + textInputText).done(function (data) {
                console.log("hi")
                var imageArray = []
                var json = JSON.parse(data);
                console.log(json);
                var loopThrough = json.images.value
                console.log(loopThrough)
                for (var i = 0; i < loopThrough.length; i++) {
                    if (i >= 5) {
                        break;
                    } else {
                        imageArray.push(loopThrough[i].thumbnailUrl)
                    }

                }
                console.log(imageArray)



                var carousel = $("<div>").addClass("carousel")
                $(".carouselGoesHere").append(carousel)
                // Then loop through the array of picturs

                for (var i = 0; i < imageArray.length; i++) {
                    var newA = $("<a>").addClass("carousel-item")
                    var img = $("<img>").attr("id", "img" + i)
                        .attr("src", imageArray[i])
                        .attr("data-image", imageArray[i])
                        .attr("data-name", textInputText)

                    newA.append(img)
                    carousel.append(newA)
                    // end loop
                }
                $('.carousel').carousel();


                $('.carousel-item').on("dblclick", function (event) {
                    var selectedImage = $(event.target).attr("data-image")
                    var selectedName = $(event.target).attr("data-name")
                    //then your code here to save the selected image to a global object that is then used when the usere saves the new device
                    console.log(selectedImage)
                    $(".carouselGoesHere").empty()
                    $(".carouselGoesHere").append("<h4>").text("Picture selected, now choose your device.")
                    $("#deviceInput").show()
                    $("#deviceInput").css("margin-top","50px")
                    $("#addDeviceButton").show()


                    //dummy code for appending image to plant Devices page until we pull info from database
                    var newDiv1 = $("<div>");
                    var newDiv2 = $("<div>").addClass("card horizontal left-align valign-wrapper");
                    var newDiv3 = $("<div>")
                        .addClass("card-image")
                        .css("width", "120px")
                        
                    var newImage = $("<img>")
                        .attr("id", "img2")
                        .attr("src", selectedImage)
                        .css("margin", "20px")
                        .css("border-radius", "20%")
                        .attr("height", "150px");

                    newDiv3.append(newImage);

                    var newDiv4 = $("<div>").addClass("card-stacked");
                    var newDiv5 = $("<div>").addClass("card-content");
                    var newH = $("<h3>").text(selectedName)
                                        .attr("id","cardName");

                    newDiv5.append(newH);

                    var newDiv6 = $("<div>").addClass("card-action");
                    //need to figure out url to each plant for stats
                    var newA = $("<a>")
                        .attr("href", "")
                        .text("Go to Stats")
                        .attr("data-plantName", selectedName)

                    var newA2 = $("<a>")
                        .attr("href", "")
                        .text("Delete this device")
                        .attr("data-plant", selectedName)

                    newDiv6.append(newA, newA2);
                    newDiv4.append(newDiv5, newDiv6);
                    newDiv2.append(newDiv3, newDiv4);
                    newDiv1.append(newDiv2);

                    $(".newPlantButtonsGoHere").append(newDiv1);


                    //on click of add device button plant name and device name and image url need to be sent to database
                    $("#addDeviceButton").on("click", function () {
                        var device = $("#device").val()
                        var plant = selectedName
                        var image = selectedImage

                        console.log(`Device: ${device}\nPlant: ${plant}\nImage: ${image}`)

                    })
                })
            })
        }
    })

   
</script>
-->