.list-group-item {
  line-height: 2.5;
}

.margin-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.large-status-icon {
  font-size: 48px;
}


/*Landing page*/
body{
  position:relative;
  width: 100%;
}

.sky{
  background-color: rgb(199, 253, 248);
  height: 500px;
}

.grassDiv{
  background-color:rgb(194, 248, 167);
  height: 300px;
  border-top: white 10px solid;
  position:relative;
  z-index: 3;
}

.heading{
  position: absolute;
  text-align: center;
  height: 300px;
  border-radius: 40%;
  top: 150px;
  left: 11%;
 
  color: #613d16;
  z-index: 10;
}

.landingPara{
  font-size: 23px;
}

.landingPic{
  position: absolute;
  top: 221px;
  left: 75%;
  z-index: 12;
}

.sun{
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(255, 239, 97);
  z-index:5;
  border-radius: 50%;
  top: 50px;
  left: 30%;
}


.loginSun{
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(255, 239, 97);
  z-index:5;
  border-radius: 50%;
  top: 50px;
  left: 30%;
}

.landingButtonDiv{
  padding-top: 80px;
}

.landingButton{
  background-color: rgb(229, 252, 249);
  color: 
  rgb(110, 109, 109);
  border: white 5px solid;
  height: 50px;
  font-weight: 600;
  
}

.entireLogin{
  position: absolute;
  z-index: 15;
  background-color: white;
  height: 500px;
  width: 400px;
  top: 120px;
  left: 37%;
  color: #613d16;
  border: #613d16 1px solid;
}

#loginButton{
  background-color:rgb(214, 255, 249);
  color:   rgb(139, 139, 139);
}

.entireDevices{
  position: absolute;
  z-index: 15;
  top: 120px;
  
  width: 100%;
}

.entireInfo{
  position: absolute;
  z-index: 15;
  top: 20px;
  width: 100%;
}

.cloud1{
  color: white;
  position: absolute;
  z-index: 8;
  top: 20px;
 left: 30%;
  font-size: 300px;
  -webkit-animation-name: cloudMove1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 80s; /* Safari 4.0 - 8.0 */
  animation-name: cloudMove1;
  animation-duration: 100s;
}

@-webkit-keyframes cloudMove1 {
  from{left:30%;}
  to{left: 100%;}
}

@keyframes cloudMove1 {
   from{left:30%;}
   to{left: 100%;}
}



.cloud2{
  color: white;
  position: absolute;
  z-index: 8;
  top: 40px;
 left: -5%;
  font-size: 300px;
  -webkit-animation-name: cloudMove2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 120s; /* Safari 4.0 - 8.0 */
  animation-name: cloudMove2;
  animation-duration: 100s;
}

@-webkit-keyframes cloudMove2 {
  from{left:-5%;}
  to{left: 65%;}
}

@keyframes cloudMove2 {
   from{left:-5%;}
   to{left: 65%;}
}

.cloud3{
  color: white;
  position: absolute;
  z-index: 8;
  top: 40px;
 left: 65%;
  font-size: 300px;
  -webkit-animation-name: cloudMove3; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 80s; /* Safari 4.0 - 8.0 */
  animation-name: cloudMove3;
  animation-duration: 100s;
}

@-webkit-keyframes cloudMove3 {
  from{left:65%;}
  to{left: 135%;}
}

@keyframes cloudMove3 {
   from{left:65%;}
   to{left: 135%;}
}


@media screen and (max-width: 992px) {
  .sky{
    height: 400px;
  }
  .heading{
    top: 80px;
    left: -2%;
  }

  .cloud2{
    font-size: 300px;
    top: 60px;
  }
  .cloud1,
  .cloud3{
    display: none;
  }

  .landingPara{
    font-size: 18px;
  }

  .landingPic{
    height: 200px;
  }

  .entireLogin{
    left: 10%;
    height: 420px;
    width: 300px;
    top: 40px;
  }

  .landingPic{
    z-index: 20;
    left: 62%;
    top: 300px;

  }

  .loginSun{
    top: 10px;
    left: 5px;
  }

}